<div class="container">
    
    <div class="row-fluid">
        
        
        <div class="col-lg-2">  
        <small>
         <div class="panel panel-info">
         <div class="panel-heading">         All Audits          </div>
           <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Audit.count %></strong></span>
           </div>
        </div>
        </small>
      </div>
       
        <div class="col-lg-2">  
          <small>
         <div class="panel panel-info">
         <div class="panel-heading">
         All Findings
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Finding.count %></strong></span>
          </div>
          </div>
          </small> 
         </div>
          
         <div class="col-lg-2"> 
           <small>
           <div class="panel panel-info">
         <div class="panel-heading">
         CAPA Pending
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Finding.count %></strong></span>
          </div>
        </div>
           </small>
      </div>
      
         <div class="col-lg-2">
           <small>
           <div class="panel panel-info">
         <div class="panel-heading">
         Open Audits
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Finding.count %></strong></span>
          </div>
        </div>
             </small>
      </div>
           
      </div>
          
  </div>
     

  
 
<p></p>
<p></p><br/>

<div class="container">

<div class="row-fluid">

<div class="col-lg-6">

<h5>Upcoming audits</h5>

<table class="table table-hover table-responsive">
        <thead>
		
            <tr style="background:#ecf0f1">
		    <th> Audit ID</th>
		    <th>Department name</th>
            <th>Created Date</th>
            <th>Auditor</th>
            <th>Begins on</th>
 	        </tr>
        </thead>
        
        <tbody>
        
        <tr>
		<td> 1 </td>
        <td>Finance</td>
        <td>23 Dec 2013</td>
		<td>Vishant Pai</td>
        <td>27 Jan 2014</td>
        </tr>

	    
        </tbody>
      </table>
      

</div>


<div class="col-lg-6">

<h5>Open Audits (Greater than 30 days) </h5>

<table class="table table-hover table-responsive">
        <thead>
		
            <tr style="background:#ecf0f1">
		    <th> Audit ID</th>
		    <th>Department name</th>
            <th>Created Date</th>
            <th>Auditor</th>
            <th>Begins on</th>
 	        </tr>
        </thead>
        
        <tbody>
        
        <tr>
		<td> 1 </td>
        <td>Finance</td>
        <td>23 Dec 2013</td>
		<td>Vishant Pai</td>
        <td>27 Jan 2014</td>
        </tr>

	    
        </tbody>
      </table>
      

</div>
</div>
</div>

