<div class="container">
    
    <div class="row-fluid">
        
        <div class="col-lg-3 col-md-3">
           <div class="panel panel-default">
            <div class="panel-body">
            Number of <strong>audits</strong><span class="badge pull-right"><%= Audit.count %></span>
            </div>
            </div> 
          
        </div>
        
         <div class="col-lg-3 col-md-3">
           <div class="panel panel-default">
            <div class="panel-body">
            Number of <strong>findings</strong><span class="badge pull-right"> <%= Finding.count %></span>
            </div>
            </div> 
          
        </div>
        
       
    </div>
  
</div>