<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">
    <meta name="keywords" content="js, css, metro, framework, windows 8, metro ui">

    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="css/iconFont.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="js/prettify/prettify.css" rel="stylesheet">

    <!-- Load JavaScript Libraries -->
   <!--  <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jquery/jquery.widget.min.js"></script>
    <script src="js/jquery/jquery.mousewheel.js"></script>
    <script src="js/prettify/prettify.js"></script> -->

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="js/load-metro.js"></script>

    <!-- Local JavaScript -->
    <script src="js/docs.js"></script>
    <script src="js/github.info.js"></script>

    <title>BlendBee</title>

    <style>
    </style>
</head>
<body class="metro" style="">
	<header>
	<div class="navigation-bar dark">
		<div class="navigation-bar-content container">
				<ul class="element-menu place-right">
					<li>
						<a href="#">Home</a>
					</li>
					<span class="element-divider"></span>
					<li>
						<a href="#" class="">My Account</a>					
					</li>
					<span class="element-divider"></span>
					<li>
						<a href="#" class="">Shopping Cart</a>					
					</li>
					<span class="element-divider"></span>
					<li>
						<a href="#" class="">Checkout</a>					
					</li>
					<span class="element-divider"></span>
					<li>
						<a href="#" class="">Login</a>					
					</li>
					<span class="element-divider"></span>
					<li>
						<a href="#" class="">Search</a>					
					</li>
				</ul>
			</div>
		</div>
			<div class="navigation-bar" style="height:80px;">
				<div class="navigation-bar-content container">
					<ul class="element-menu place-right">
						<a class="dropdown-toggle fg-white" href="#" >Popular Blends</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="#">Benefits Blends</a></li>
                            <li><a href="#">Black Tea Blends</a></li>
                            <li><a href="#">Green Tea Blends</a></li>
                            <li><a href="#">Most Popular</a></li>
                            <li><a href="#">On Sale</a></li>
						</ul>
					</ul>
				</div>
			</div>
</header>
	
<!-- body starts from here -->	
    <div class="">
	<div class="container">
      <div class="grid fluid">
			<div class="row">
				<div class="thumbnail tile double double-vertical tile-teal"> 
					<h4>Blending Station Image</h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal bg-pink"> 
					<h4>Blending Station Text </h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal"> 
					<h4>Popular Blends Image </h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal bg-yellow"> 
					<h4>Popular Blends Text</h4>
				</div>
			</div>
			<div class="row">
				<div class="thumbnail tile double double-vertical tile-teal bg-blue"> 
					<h4>Customer Testamonial or Blend of the month Text</h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal"> 
					<h4>Customer Testamonial Image </h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal"> 
					<h4>Tea of Month Text</h4>
				</div>
				<div class="thumbnail tile double double-vertical tile-teal"> 
					<h4>Tea of Month Image</h4>
				</div>
			</div>
	    </div>	
		<div class="grid fluid">
			<div class="row">
				<div class="span5 border">
					<div class="thumbnail tile-teal padding10 bg-grayLighter">
						<h4 class="tile-text">Free Shipping on orders over $40</h4>
					</div>
				</div>
				<div class="span7 border">
					<div class="thumbnail tile-teal padding10 bg-grayLighter">
						<h4 class="tile-text">Follow Us on Facebook  Twitter Pinterest Google+ LinkedIn  Tumblr</h4>
					</div>
				</div>
			</div>
		 </div>
		</div>		 <!-- container end -->
		
		
		 <div class="bg-gray">
            <div class="container" style="padding: 10px 0;">
				<div class="grid no-margin">
                    <div class="row no-margin">
                        <div class="span5 padding10">
                            <b>About Us</b><br/>
							Blend Bee LLC <br/>  
							1765 Garnet Eve, Box 432<br/>
							San Diego, CA 92109<br/>
							P:(619) 320-5345 
							<div><br/><br/>
								<b>Contact Us</b><br/>
								support@blendbee.com
							</div>
						</div>
                        <div class="span4 padding10">
                            <b>Browse Pages</b><br/>
 						    <a href='#' class="fg-black"> Blending Station </a><br/>
							<a href='#' class="fg-black"> Blog </a><br/>  
							<a href='#' class="fg-black"> Customer Reivews </a><br/>
							<a href='#' class="fg-black"> Gift Certificates </a><br/>
							<a href='#' class="fg-black"> Popular Blends </a><br/>
							<a href='#' class="fg-black"> Tea and Herb Glossary </a><br/>
							<a href='#' class="fg-black"> Tea of the month Club</a>
                        </div>
                        <div class="span5 padding10">
							<div class="col-sm-12 col-md-4"> 
								 <div class="tile-teal ">
									<b>Sign Up for Great Deals : </b>
									 <div class="input-control text">
										<input type="text" placeholder="Email...">
										<button >Sign Up</button>
									</div>
								<div>
							</div>    
                        </div>
                    </div>
                </div>
				</div>

			</div>
		</div>
            <div class="tertiary-text bg-dark fg-white" style="padding: 10px">
               2014, BlendBee, LLC All Rights Reserved
			 <span class="place-right fg-white"> <a href="#" class="fg-white">Privacy </a>| <a href="#" class="fg-white"> Blog </a>|  <a href="#" class="fg-white"> Term of Use </a>|  <a href="#" class="fg-white"> About Us </a>|  <a href="#" class="fg-white"> Contact </a> </span> 
            </div>
        </div>		
		
	  </div>	
</body>		
</html>